<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="camunda-test" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                </timestamp>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <loggerName />
                <logLevel />
                <mdc />
                <message />
                <arguments>
                    <includeNonStructuredArguments>true</includeNonStructuredArguments>
                </arguments>
                <stackTrace />
            </providers>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="camunda-test"/>
    </root>

</configuration>